services:
  server:
    image: 'nginx:stable-alpine'
    ports:
      - "8000:80"
    volumes:
      - ./Sim-Sanctum-Api:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - mysql
      - redis
      - mailpit
  php:
    build: 
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./Sim-Sanctum-Api:/var/www/html
    env_file:
      - ./env/.env
    depends_on:
      - mysql
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"
  mysql:
    image: mysql:latest
    env_file:
      - ./env/.env
  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./Sim-Sanctum-Api:/var/www/html:delegated
  artisan:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./Sim-Sanctum-Api:/var/www/html:delegated
    env_file:
      - ./env/.env
    entrypoint: ["php", "/var/www/html/artisan"]
    depends_on:
      - mysql
      - redis
      - mailpit
    extra_hosts:
      - "host.docker.internal:host-gateway"
  redis:
    image: redis:7-alpine
    ports:
      - "63790:6379"
    restart: always
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: always